{{ template "head.html" . }}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ .Config.ServiceName }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">{{ .Account.LoginName }}</p></li>
                    <li>
                        <form method="get" action="/signout">
                            <button class="btn btn-default navbar-btn">Sign out</button>
                        </form>
                    </li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
    </nav>

    <p>Hi hello.</p>

{{ template "foot.html" . }}
