{{ template "head.html" . }}

    {{ template "navbar.html" . }}

    <h3>Editing data for “{{ .Thing.Name }}”</h3>

    <form method="post" class="form form-horizontal" role="form">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">

        <table id="dataTable" class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tfoot>
                <tr id="blankEditorRow" class="hidden">
                    <td class="key"></td>
                    <td>
                        <select class="form-control input-sm">
                            <option>String</option>
                            <option>Number</option>
                            <option>Boolean</option>
                        </select>
                    </td>
                    <td>
                        <span class="string hidden" contentEditable></span>
                        <span class="number hidden" contentEditable></span>
                        <span class="boolean hidden"><input type="checkbox"></span>
                    </td>
                </tr>
                <tr><td colspan="3">
                    <button id="addField" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i> Add key</button>
                </td></tr>
            </tfoot>
            <tbody></tbody>
        </table>

        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary">Save</button>
                <a href="/" class="btn btn-cancel">Cancel</a>
            </div>
        </div>

    </form>

    <script>
        var thingData = {{ .Thing.Table | call .json }};

        $(function () {

            var $tbody = $("#dataTable tbody");

            $tbody.on('input', 'td span', function () {
                var $cell = $(this);
                var value = $.trim($cell.text());
                if (value != $cell.data('original')) {
                    $cell.data('changed', 'true');
                    $cell.parents('tr').addClass('changed');
                }
                else {
                    $cell.data('changed', '');
                    $cell.parents('tr').removeClass('changed');
                }
            });

            function addTableField(name, data) {
                console.log("Adding a table field", name, "with data", data);

                if (data && typeof data == 'object') {
                    $.each(data, function (key, val) {
                        var newName = (name ? name + '.' : '') + key;
                        addTableField(newName, val);
                    });
                    return;
                }

                var $row = $('#blankEditorRow').clone();
                $row.removeClass('hidden');

                $row.find('.key').text(name);

                if (typeof data == 'string') {
                    $row.find('.string').text(data).removeClass('hidden');
                    $row.find('select').val('String');
                }
                else if (typeof data == 'boolean') {
                    $row.find('.boolean').removeClass('hidden')
                        .find('input').get(0).checked = data ? true : false;
                    $row.find('select').val('Boolean');
                }
                else {
                    $row.find('.number').text(data).removeClass('hidden');
                    $row.find('select').val('Number');
                }

                $tbody.append($row);
            }

            addTableField('', thingData);
        });
    </script>

{{ template "foot.html" . }}
