{{ template "head.html" . }}

    {{ template "navbar.html" . }}

    <form method="post" class="form form-horizontal" role="form">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <h3>Editing “{{ .Thing.Name }}”</h3>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/table/{{ .Thing.Id }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-list"></i> Edit all data</a>
                <a href="/program/{{ .Thing.Id }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-film"></i> Edit program</a>
                <a href="/table/{{ .Thing.Id }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-lock"></i> Change password</a>
                <a href="/table/{{ .Thing.Id }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-certificate"></i> Use outfits</a>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input id="name" name="name" value="{{ .Thing.Name }}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="glance" class="col-sm-2 control-label">At-A-Glance</label>
            <div class="col-sm-10">
                <input id="glance" name="glance" value="{{ .Thing.Table.glance }}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="pronouns" class="col-sm-2 control-label">Pronouns</label>
            <div class="col-sm-4">
                <select id="pronouns" name="pronouns" class="form-control">
                    {{ $pron := .Thing.Table.pronouns }}
                    <option value="they"{{ if and ($pron) (eq $pron "they") }} selected{{ end }}>They / their / theirs</option>
                    <option value="she"{{ if and ($pron) (eq $pron "she") }} selected{{ end }}>She / her / hers</option>
                    <option value="he"{{ if and ($pron) (eq $pron "he") }} selected{{ end }}>He / his / his</option>
                    <option value="sie"{{ if and ($pron) (eq $pron "sie") }} selected{{ end }}>Sie / hir / hirs</option>
                    <option value="it"{{ if and ($pron) (eq $pron "it") }} selected{{ end }}>It / its / its</option>
                    <option value="custom"{{ if and ($pron) (eq $pron "custom") }} selected{{ end }}>Custom…</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="description" name="description" class="form-control" rows="7">{{ .Thing.Table.description }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Actions</label>
            <div class="col-sm-10">

                <table class="table table-exits">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Target</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr><td colspan="2">
                            <button id="addExit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add action
                            </button>
                        </tr>
                    </tfoot>
                    <tr>
                        <td>echo</td>
                        <td>
                            <span class="label label-info">
                                <i class="glyphicon glyphicon-film"></i>
                                echo.lua
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>morph</td>
                        <td>
                            <span class="label label-info">
                                <i class="glyphicon glyphicon-film"></i>
                                quiet-morph-only.lua
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>escape</td>
                        <td>
                            <span class="label label-success">
                                <i class="glyphicon glyphicon-globe"></i>
                                Natasha’s Home
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">Save</button>
                <a href="/" class="btn btn-cancel">Cancel</a>
            </div>
        </div>

    </form>

{{ template "foot.html" . }}
