{{ template "head.html" . }}

    {{ template "navbar.html" . }}

    <h3>Editing data for “{{ .Thing.Name }}”</h3>

    <form method="post" class="form form-horizontal" role="form">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        <input type="hidden" id="updated_data" name="updated_data">
        <input type="hidden" id="deleted_data" name="deleted_data">

        <table id="dataTable" class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <button id="addValueTop" class="btn btn-primary">
                            <i class="glyphicon glyphicon-plus"></i> Add value</button>
                    </td>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>

        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary">Save</button>
                <a href="/" class="btn btn-cancel">Cancel</a>
            </div>
        </div>

    </form>

    <script type="text/template" id="tableRow">
        <tr class="leaf">
            <td class="key">
                <span class="name"></span>
                <span class="actions">
                    <button class="btn btn-link delete"><i class="glyphicon glyphicon-remove"></i></button>
                    <button class="btn btn-link revert"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button class="btn btn-link add"><i class="glyphicon glyphicon-plus"></i></button>
                </span>
            </td>
            <td class="value" width="100%">
                <span class="valuetext" contentEditable></span>
                <span class="label label-error"></span>
                <span class="label label-added">Added</span>
                <span class="label label-changed">Changed</span>
                <span class="label label-deleted">Deleted</span>
            </td>
        </tr>
    </script>

    <script>
        var thingData = {{ .Thing.Table | call .json }};

        function newTableSystem() {
            var rowTmpl = $('#tableRow').html();
            var $dataTable = $('#dataTable');

            function addNewRow($table) {
                var $newRow = $(rowTmpl).addClass('added');
                var $newRowName = $newRow.find('.name');
                $newRowName.get(0).contentEditable = 'true';
                $table.append($newRow);
                $newRowName.focus();
            }

            $('#addValueTop').click(function () {
                addNewRow($dataTable);
                return false;
            });

            $dataTable.on('keydown', '.name,.valuetext', function (evt) {
                if (evt.which == 13) {
                    $(this).blur();
                    return false;
                }
            });

            $dataTable.on('blur', '.name', function () {
                var $name = $(this);
                if ($.trim($name.text()) == '') {
                    $name.parents('tr').first().remove();
                }
                else {
                    $name.contentEditable = 'inherit';
                }
            });

            $dataTable.on('click', 'button.add', function () {
                var $button = $(this);
                var $row = $button.parents('tr').first();
                var $childTable = $row.children('.value').children('table');
                addNewRow($childTable);
                return false;
            });

            $dataTable.on('click', 'button.delete', function () {
                var $button = $(this);
                var $row = $button.parents('tr').first();
                $row.addClass('deleted');
                return false;
            });

            $dataTable.on('click', 'button.revert', function () {
                var $button = $(this);
                var $row = $button.parents('tr').first();
                if ($row.hasClass('deleted')) {
                    $row.removeClass('deleted');
                }
                else if ($row.hasClass('changed')) {
                    var valuetext = $row.data('original');
                    $row.find('.valuetext').text(valuetext);
                    $row.removeClass('changed');

                    checkError($row, valuetext);
                }
                return false;
            });

            function checkError($row, valuetext) {
                console.log("Checking error for row", $row, "text", valuetext);
                var obj;
                try {
                    obj = JSON.parse(valuetext);

                    // Success! So clear an error if there was one before.
                    $row.find('.label-error').text('');
                    $row.removeClass('error');
                }
                catch (err) {
                    console.log(valuetext, err.message);
                    $row.find('.label-error').text(err.message);
                    $row.addClass('error');
                }
                return obj;
            }

            $dataTable.on('input', '.valuetext', function () {
                var $valuetext = $(this);
                var $row = $valuetext.parents('tr').first();

                if ($row.hasClass('error')) {
                    $row.removeClass('error');
                    $valuetext.next('.label').text('');
                }

                var originalData = $row.data('original');
                if (originalData && originalData != $valuetext.text()) {
                    $row.addClass('changed');
                }
                else {
                    $row.removeClass('changed');
                }
            });

            $dataTable.on('blur', '.valuetext', function () {
                var $valuetext = $(this);
                var $row = $valuetext.parents('tr').first();
                var obj = checkError($row, $valuetext.text());
                // TODO: what if it's an object? Automatically table-ize.
            });

            $('form').on('submit', function () {
                var $errors = $dataTable.find('tr.error');
                if ($errors.size()) {
                    var $firstError = $errors.first();
                    var errorTop = $firstError.offset().top;
                    $('html,body').animate({ 'scrollTop': errorTop + 'px' });
                    $firstError.focus();
                    return false;
                }

                function rowsToUpdates($rows, updates) {
                    $rows.each(function (i, val) {
                        var $row = $(val);
                        var rowKey = $row.find('.name').text();

                        var keys = $row.parents('tr').map(function (i, val) {
                            return $(val).children('.key').children('.name').text()
                        }).get().reverse();

                        var thisUpdate = updates;
                        for (var i = 0; i < keys.length; i++) {
                            var key = keys[i];
                            if (!(key in thisUpdate)) {
                                thisUpdate = thisUpdate[key] = {};
                            }
                            else if (typeof thisUpdate[key] == 'object') {
                                thisUpdate = thisUpdate[key];
                            }
                            else {
                                console.log("Couldn't select into", updates, "by keys", keys);
                                throw new Exception("No :(");
                            }
                        }

                        if ($row.hasClass('deleted')) {
                            thisUpdate[rowKey] = null;
                        }
                        else {
                            var rowValue = $row.find('.valuetext').text();
                            thisUpdate[rowKey] = JSON.parse(rowValue);
                        }
                    });
                }

                var updated = {};
                rowsToUpdates($('tr.changed').add('tr.added'), updated);
                $('#updated_data').val(JSON.stringify(updated));

                var deleted = {};
                rowsToUpdates($('tr.deleted'), deleted);
                $('#deleted_data').val(JSON.stringify(deleted));

            });

            function addTableTo($div, data) {
                $.each(data, function (key, val) {
                    var $row = $(rowTmpl);
                    $row.find('.name').text(key);
                    if (val && typeof val == 'object') {
                        $row.removeClass('leaf');
                        var $table = $('<table>').addClass('table');
                        $row.find('.valuetext').replaceWith($table);
                        addTableTo($table, val);
                    }
                    else {
                        var text = JSON.stringify(val);
                        $row.data('original', text);
                        $row.find('.valuetext').text(text);
                    }
                    $div.append($row);
                });
            }

            addTableTo($dataTable, thingData);
        }

        $(newTableSystem);
    </script>

{{ template "foot.html" . }}
